@import 'base';

p {
	color: $text-color;
	font-size: 1.2em;
}

.centered {
	text-align: center;
}

.running {
	position: relative;
	height: 400px;
	padding-bottom: 20px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 400px;
		background-image: url('../img/running.jpg');
		background-position: center;
		background-size: cover;
		filter: blur(3px) brightness(60%);
		z-index: -1;
	}

}

.fullwidth-container {
	width: 100vw;
	display: table;
	position: relative;
	margin-left: -50vw;
	height: 100px;
	left: 50%;
}

