@import 'base';

p {
	color: $text-color;
	font-size: 1.2em;
}

.centered {
	text-align: center;
}

.fullwidth-container {
	width: 100vw;
	display: table;
	position: relative;
	margin-left: -50vw;
	height: 100px;
	left: 50%;
}

table{
	table-layout: auto;
}

td{
	width: 33%;
}

.today{
	background: #0054A6;
}
